<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- pretty time -->
	<link rel="stylesheet" href="/cdn/style/style.css" />
	<link rel="icon" href="/cdn/favicon.svg">
	<script src="https://kit.fontawesome.com/a4ad01e3e6.js" crossorigin="anonymous"></script>
	
	<title>{{title}}</title>
</head>

<div>
	<h1>
		<a style="text-decoration: none;" href="/">Concorde</a>
		<small style="size: 78%;">
			<a href="/about">about</a>
			<a href="/contact">contact</a>
			<a href="/feeds">feeds</a>
			<a href="/now">/now</a>
			<a style="margin-left: 1em;" href="/feed.xml"><i class="fa-solid fa-rss"></i></a>
			</small>
		</h1>
</div>

<body>
	{{content | safe}}
</body>

</html>