<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- webmentions -->
	<link rel="webmention" href="https://webmention.io/laker.tech/webmention" />
	<link rel="pingback" href="https://webmention.io/laker.tech/xmlrpc" />

	<!-- indielogin -->
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

	<!-- styling -->
	<link rel="stylesheet" href="/cdn/style/style.css" />
	<link rel="icon" href="/cdn/favicon.svg">
	<link rel="preload" href="https://fonts.bunny.net/css">
	<script defer src="https://kit.fontawesome.com/a4ad01e3e6.js" crossorigin="anonymous"></script>
	
	<title>{{ title | safe }}</title>
</head>

<body>

<header>
	<h1>
		<a style="text-decoration: none;" href="/">Laker Turner</a>
		<small style="size: 78%;">
			<a href="/about">about</a>
			<a href="/contact">contact</a>
			<a href="/now">/now</a>
			<a style="margin-left: 0.3em;" href="/feeds"><i class="fa-solid fa-rss"></i></a>
		</small>
	</h1>
</header>

<div id="content" style="border: 1px dotted;">
	{{ content | safe }}
</div>

<footer style="margin-top: 0.5em;">
	<a href="#">back to the top</a> - {% for quote in footer | randomItem %}{{ quote }}{% endfor %}
</footer>

</body>
</html>