<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- feed autodiscovery -->
	<link rel="alternate" type="application/rss+xml" title="Laker Turner (RSS)" href="/feed.xml" />
	<link rel="alternate" type="application/atom+xml" title="Laker Turner (Atom)" href="/atom.xml" />
	<link rel="alternate" type="application/json" title="Laker Turner (JSON)" href="/feed.json">

	<!-- webmentions -->
	<link rel="webmention" href="https://webmention.io/laker.tech/webmention" />
	<link rel="pingback" href="https://webmention.io/laker.tech/xmlrpc" />

	<!-- indielogin -->
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

	<!-- styling -->
	<link rel="stylesheet" href="/cdn/style/style.css" />
	<link rel="icon" href="/cdn/image/tree.png">
	<script defer src="https://kit.fontawesome.com/a4ad01e3e6.js" crossorigin="anonymous"></script>

	<!-- opengraph -->
	<title>{{ title | safe }} | Laker Turner</title>
	<meta property="description" content={{ subtitle }} />
		<meta property="og:image" content="/cdn/image/hat.jpg" />
</head>

<body>

<header>
	<h1>
		<a style="text-decoration: none;" href="/">Laker Turner</a>
		<small style="size: 78%;">
			<a href="/blog">blog</a>
			<a href="/about">about</a>
			<a href="/contact">contact</a>
			<a href="/me">/me</a>
			<a href="/subscribe"><i class="fa-solid fa-rss" style="color: orange;"></i></a>
		</small>
	</h1>
</header>

<div class="h-card" style="display: none;">
	<img class="u-photo" style="vertical-align:middle; margin-right: 0.3em;" height=80 width=80 src="https://laker.tech/cdn/image/hat.jpg">
	<a style="text-decoration: none;" class="u-url" rel="me" href="https://laker.tech">Laker Turner</a>
	<a href="https://laker.tech/pronouns" class="u-pronouns">she/her</a>
	<p class="p-note">I'm an 18 year old student from the UK, writer, amateur programmer and leather jacket enthusiast.</p>
</div>

<div id="content" style="border: 2px solid;">
	{{ content | safe }}
</div>

<footer style="margin-top: 0.5em;">
	<i class="fa-solid fa-rss" style="color: orange;"></i>
	<a href="/feed.xml">RSS feed</a>
	<a href="/atom.xml">Atom feed</a>
	<a href="/feed.json">JSON feed</a> 
	|
	<i class="fa-brands fa-mastodon"></i>
	<a rel="me" href="https://social.lol/@la">@la@social.lol</a>
	{% for quote in footer | randomItem %}<blockquote>{{ quote }}</blockquote>{% endfor %}
	<!--<script src="https://tinylytics.app/embed/xrwtvGaPyRKh1zjzZ9Be.js" defer></script>-->

	<div id="buttons">
		<a href="/"><img src="/cdn/image/buttons/laker.png" alt="laker.tech button"></a>
		<a href="https://byemc.xyz"><img src="https://byemc.xyz/assets/buttons/byebutton.gif" alt="Bye's Button"></a>
		<a href="https://rknight.me"><img src="/cdn/image/buttons/robbknight.gif" alt="Robb Knight"></a>
	</div>
</footer>
</body>
</html>