---
layout: base
---

<article class="h-entry">
	<div class="post-meta">
	<h2 class="p-name">{{title | safe}}</h2>
	<blockquote class="p-summary">{{subtitle | safe}}</blockquote>

	<p>
		Written by <a href="https://laker.tech" class="p-author h-card ntd">Laker Turner</a>
		on <time class="dt-published" datetime="{{page.date | dateISO}}" href="{{metadata.url}}p/{{slug}}">{{page.date | datePretty}}</time> 
		with the tags {% for tag in tags %}<span class="post-tag"><a href="/blog/t/{{tag}}">#{{tag}}</a></span>{% endfor %}
	</p>

	<hr class="break">
	</div>

	<div class="e-content">
		{{content | safe}}
	</div>
	
	<hr class="break">
	{% footnotes %}
	<p>Any comments? Feel free to <a href="mailto:la@laker.gay?subject={{title | safe}}">email me</a>!</p>
</article>