---
layout: base
---

<article class="h-entry">
	<h2 class="p-name">{{title | safe}}</h2>
	<p>Written by <a style="text-decoration: none;" href="https://laker.tech" class="p-author">Laker Turner</a> on {{page.date | postDate}}

{% for tag in page.tags %}<p>{{tag}}</p>{% endfor %}

{{content | safe}}

<hr style="margin-right: 1em;">

<p>Any comments? Feel free to <a href="mailto:la@laker.gay?subject={{title | safe}}">email me</a>!</p>