@import url(https://fonts.bunny.net/css?family=albert-sans:400,500i|ibm-plex-mono:400,700i);

:root {
	--lm-bg-color: #fff8e7;
	--lm-text-color: #0D0C0B;
	--dm-bg-color: #100536;
	--dm-text-color: #fff8e7;
	--acc-violet: #6867aa;
	--acc-orange: #dc774f;
	--acc-blue: #8797e0;
}


html {
	background-color: var(--lm-bg-color);
	color: var(--lm-text-color);
}

body {
	padding: 1em;
	border-radius: 1em;
	margin: 2em auto;
	max-width: 90%;

	font-family: Albert Sans, sans-serif;
	font-size: 105%;
	font-display: swap;
}

#content {
	margin-top: 0.5em;
	padding-left: 1em;
	border-radius: 1em;
}

.e-content {
	margin-right: 1em;
}

blockquote {
	margin-left: 13px;
	padding-left: 8px;
	border-left: 4px solid var(--acc-violet);
	border-spacing: 5px;
}

small {
	font-size: 72%;
	margin-left: 0.3em;
}

header {
	padding-bottom: 0.5em;
}

footer {
	padding-top: 0.5em;
}

h1 {
	margin: 0 0 0 0;
}

hr {
	margin-right: 1em;
}

.post-img {
	max-width: 39%;
	height: auto;
	margin-left: 3em;
}

img {
	border: 2px #fff8e7 solid;
	max-width: 45%;
	height: auto;
	margin-left: 2em;
}

.ntd {
	text-decoration: none !important;
}

.nd {
	display: none;
}

.nb {
	border: none !important;
}

.nm {
	margin: 0 !important;
}

.statuslol_container {
	max-width: 43%;
}

.statuslol_emoji_container {
	display: inline-block;
	max-width: 101%;
}

.statuslol_emoji_container img {
	border: none;
}

.post-tag {
	color: var(--dm-text-color);
	background-color: var(--acc-violet);
	padding: 5px 7px;
	border-radius: 100px;
	margin-right: 5px;
}

.post-tag a[href] {
	color: #fff8e7;
	text-decoration: none;
}

.break hr {
  border: none;
  border-top: 6px;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.webring>a {
	padding: 0 6px;
}

a[href] {
	color: #0D0C0B;
	text-decoration: underline dotted #0D0C0B;

}

code {
	font-family: IBM Plex Mono, monospace;
}

@media (prefers-color-scheme: dark) {
	html {
		background: #100536;
		color: #fff8e7;
	}

	body {
		background-color: #100536;
	}

	a[href] {
		color: #fff8e7;
		text-decoration: underline dotted #fff8e79c;

	}

	.blue {
		background: #8797e059;
	}

	.orange {
		background: #dc774f51;
		color: #fff8e7;
	}

	.orange a[href] {
		color: #fff8e7;
	}

	.literal-book-item__title {
		color: #fff8e7 !important;
	}

}